.ex-1-square{
            transition: 3s;
}
.ex-1-square:hover {
                    background-color: red;

}
.ex-2-square{
             transition: 5s;
}
.ex-2-square:active{
                    width: 100%;
}
.ex-3-square{
            transition: 2s;
}
.ex-3-square:hover {
                    border-radius: 100%;
}
.ex-4-square{
            transition: 8s;
}
.ex-4-square:hover{
                    opacity: 0;
}
.ex-5-square{
              transition: 1s;
}
.ex-5-square:hover{
                    scale: 150%;
}
.ex-5-square:active{
                    scale: 60%;
}
.ex-6-img:hover{
                filter: grayscale(1);
}
.ex-7-img{
         transition: 4s;
}
.ex-7-img:hover{
                filter: grayscale(1) brightness(1);
}
.ex-8-img{
            transition: 3s;
}
.ex-8-img:hover{
                border-radius: 20px;
                filter: grayscale(0.8) saturate(0.5);
}
.ex-9-img{
            transition: 2s;
}
.ex-9-img:hover{
                border-radius: 20px;
                scale: 150%;
                filter: grayscale(0.8) saturate(1);
}
.ex-10-icon{
            animation: loading 1s linear infinite;
}           
@keyframes loading{
     0% {
        transform: rotate(360deg);
     }
}
.ex-11-icon:hover{
                  animation: loading2 1s linear;
}
@keyframes loading2{
     75%{
        transform: rotate(310deg);
    }
    /* 80%{
        transform: rotate(200deg);
    }
    90%{
        transform:(150deg);
    }
    95%{
        transform: (50deg);
    } */
    100%{
        transform: rotate(0deg);
    }
     
}
.ex-12-button:hover .ex-12-bottom-white{
                animation: button 1.5s linear;
}
@keyframes button{
    0%{
        right: 0%;
    }
    50%{
        right: 30%;
    }
    60%{
        right:50%;
    }
    70%{
        right: 60%;
    }
    80%{
        right: 40%;
    }
    100%{
        right: 0%;
    }
}
.ex-12-button:hover .ex-12-top-white{
    animation: button2 1.5s linear;
}
@keyframes button2{
    0%{
        left: 0%;
    }
    50%{
        left: 30%;
    }
    60%{
        left:50%;
    }
    70%{
        left: 60%;
    }
    80%{
        left: 40%;
    }
    100%{
        left: 0%;
    }
